@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-skyblue {
  background-color: #0099ff;
}

.resume-view .dragWrapper {
  border: 1px solid gray;
}

.resumeform {
  max-height: 60vh;
}

#mainContainer .toolbar {
  display: none !important;
}

button.slick-prev {
  left: 0px;
  z-index: 60;
}
button.slick-next {
  right: 20px;
  z-index: 60;
}

button.slick-arrow {
  margin: 0px 10px;
}

.slick-slider .slick-prev::before,
.slick-slider .slick-next::before {
  color: red;
  font-size: 40px;
}

.hover-bg-opacity:hover {
  opacity: 50;
}

@media (max-width: 768px) {
  button.slick-next,
  button.slick-prev {
    height: 10px;
    width: 10px;
    font-size: 10px;
  }
  button.slick-next {
    right: 5px;
    z-index: 60;
  }
  .slick-slider button.slick-next::before,
  .slick-slider button.slick-prev::before {
    font-size: 20px;
  }
  .pdfviewer {
    height: 500px;
  }
}
