@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-skyblue {
  background-color: #0099ff;
}

.resume-view .dragWrapper {
  border: 1px solid gray;
}

.resumeform {
  max-height: 60vh;
}

.toolbar {
  display: none;
}

.payment-view {
  background-image: url('/near-banner.webp');
  background-position: center;
}
