@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-skyblue {
  background-color: #0099ff;
}

.resume-view .dragWrapper {
  border: 1px solid gray;
}

.resumeform {
  max-height: 60vh;
}

#mainContainer .toolbar {
  display: none;
}

.slick-prev {
  left: 3% !important;
  z-index: 60;
}
.slick-next {
  right: 3% !important;
  z-index: 60;
}

.slick-slider .slick-prev::before,
.slick-slider .slick-next::before {
  color: red !important;
  font-size: 40px;
}

.hover-bg-opacity:hover {
  opacity: 50;
}
